---
layout: default
---

<header id="header">
			{% include menu.html %}
			{% include internal_description.html %}
<div class="header-bgo"></div>
</header>

<div class="header-bg-page"></div>
		<div class="content">
			<div class="container box">
				<section id="faq" class="row">
					<div class="col-sm-12">
						<ul class="accordion-group">
						    <li class="accordion">
						        <a class="accordion-heading">
						        	<h4 class="accordion-title">Abrelatam Colombia 2016</h4>
						        	<span class="fa fa-plus-circle pull-right"></span>
						        </a>
						        <div class="accordion-body">
											<p>El objetivo de <strong>Abrelatam Colombia 2016</strong> es promover la demanda,
											acceso y uso a datos abiertos, como activos públicos, con calidad, oportunidad e
											innovación, para la generación de valor social y económico, y para que los Estados
											en todos sus niveles y los ciudadanos, tengan mayor y mejor información para la
											toma de decisiones y la participación. </p>
											<p>Abrelatam Colombia se realizará el miércoles 2 y el jueves 3 de noviembre de
											2016. </p>
											<p>El evento está dirigido a Organizaciones de la sociedad civil que promuevan la
											publicación y el uso de Datos Abiertos; desarrolladores de software; estadísticos;
											periodistas; investigadores que estudian y monitorean iniciativas en el tema; ciudadanos;
											niños, niñas y adolescentes; expertos o principiantes interesados en el tema a nivel
											nacional y subnacional de América Latina y el Caribe. </p>
											<p>En 2016 la desconferencia servirá para discutir ideas y estrategias relacionadas
											con la demanda, acceso y uso de datos abiertos, en sectores priorizados previamente
											a través de una consulta virtual realizada en la página link al aplicativo de URNA.
											La consulta estará disponible hasta el 15 de agosto, participa y cuéntanos en qué
											sector crees que deberíamos abordar el tema de datos abiertos. </p>
											<p>La desconferencia será una oportunidad ideal para generar colaboración en la
											región, y compartir mecanismos alternativos para la coordinación de recursos y esfuerzos
											que permitan concretar pasos siguientes en el ecosistema de los datos abiertos,
											bajo la siguiente estructura: </p>
											<img src="images/imagen-proceso.png" alt="Proceso">
											<p><strong>Abrelatam Colombia 2016</strong> es liderado por la Corporación Somos
											Más, el Centro de Pensamiento Independiente -CEPEI- , y la Fundación Ideas para
											la Paz –FIP-. Los cupos son limitados así que los invitamos a estar pendientes de
											la apertura de inscripciones para que se registren cuanto antes y participen en
											el evento de datos abiertos más importante de Latinoamérica y el Caribe. </p>
						        </div>
						    </li>
						    <li class="accordion">
						        <a class="accordion-heading">
						        	<h4 class="accordion-title">¿Qué es ABRELATAM y ConDatos?</h4>
						        	<span class="fa fa-plus-circle pull-right"></span>
						        </a>
						        <div class="accordion-body">
						        	<p>ABRELATAM y ConDatos son los eventos donde la comunidad de actores de la sociedad civil, gobierno, academia, desarrolladores, empresas e individuos que trabajan para los Datos Abiertos en América Latina se encuentran para entablar un diálogo sobre el estado e impacto de datos abiertos en la región.</p>
						        </div>
						    </li>
						</ul>
					</div>
					{% include tips.html %}
				</section>

				<!--==========-->

				<!--===============================-->
				<!--== News ===================-->
				<!--===============================-->

				<div id="gotop" class="gotop fa fa-arrow-up"></div>
			</div>
		</div>
		<footer id="footer">
			<div id="map_canvas"></div>

			<div class="footer">
				<div class="container box">

					<section id="info" class="row">
						<div class="col-sm-8">

							<!--== Social Icons ==-->
							<ul class="social-icons">
								<li><a href="#" class="fa fa-facebook"></a></li>
								<li><a href="#" class="fa fa-twitter"></a></li>
								<li><a href="#" class="fa fa-google-plus"></a></li>
								<li><a href="#" class="fa fa-youtube"></a></li>
								<li><a href="#" class="fa fa-instagram"></a></li>
								<li><a href="#" class="fa fa-pinterest"></a></li>
								<li><a href="#" class="fa fa-linkedin"></a></li>
							</ul>

						</div>
						<div class="col-sm-4 text-right">
							<div class="copyrights">
								All Rights Reserved. © 2016
							</div>
						</div>
					</section>


				</div>
			</div>
		</footer>

		<!--== Javascript Files ==-->

		<script src="{{ site.baseurl }}js/bootstrap.min.js"></script>
		<script src="{{ site.baseurl }}js/jquery.scrollTo.js"></script>
		<script src="{{ site.baseurl }}js/jquery.nav.js"></script>
		<script src="{{ site.baseurl }}js/owl.carousel.min.js"></script>
		<script src="{{ site.baseurl }}js/jquery.flexslider.js"></script>
		<script src="{{ site.baseurl }}js/jquery.accordion.js"></script>
		<script src="{{ site.baseurl }}js/jquery.placeholder.js"></script>
		<script src="{{ site.baseurl }}js/jquery.fitvids.js"></script>
		<script src="{{ site.baseurl }}js/gmap3.js"></script>
		<script src="{{ site.baseurl }}js/fancySelect.js"></script>
		<script src="js/main.js"></script>
