---
layout: default
---	

<header id="header">
			
			{% include menu.html %}
			<!--== Site Description ==-->
			<div class="header-cta">
				<div class="container">
					<div class="row">
						<div class="blk">
							<h1>Un encuentro abierto<br/>Por una región abierta</h1>
						</div>
					</div>
					<div class="row">
						<div class="blk">
							<input type="submit" value="Register" name="submit" id="goregister">
						</div>
					</div>
				</div>
			</div>

			<div class="header-bg">
				<div id="preloader">
					<div class="preloader"></div>
				</div>
				<div class="main-slider" id="main-slider">

					<!--== Main Slider ==-->
					<ul class="slides">
						<li><img src="https://raw.githubusercontent.com/somosmas/abrelatam/master/images/demo/bg-slide-01.jpg" alt="Slide Image"/></li>
						<li><img src="https://raw.githubusercontent.com/somosmas/abrelatam/master/images/demo/bg-slide-02.jpg" alt="Slide Image 2"/></li>
					</ul>

				</div>
			</div>
		</header>

		<div class="content">
			<div class="container box">
				<!--===============================-->
				<!--== Features ===================-->
				<!--===============================-->
				<section id="features" class="row">
					<div class="col-md-3 col-xs-6">
						<div class="event-info">
							<div class="icon fa fa-map-marker"></div>
							<div class="info">
								<h3>Santiago, Chile.</h3>
								<span>Av. Libertador Bernardo O'Higgins 227.</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-xs-6">
						<div class="event-info">
							<div class="icon fa fa-calendar"></div>
							<div class="info">
								<h3>7 y 8 de Sept.</h3>
								<span>2015</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-xs-6">
						<div class="event-info">
							<div class="icon fa fa-microphone"></div>
							<div class="info">
								<h3>Desconferencia</h3>
								<span>De datos abiertos</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-xs-6">
						<div class="event-info">
							<div class="icon fa fa-users"></div>
							<div class="info">
								<h3>Sociedad civil</h3>
								<span>Latinoamericana</span>
							</div>
						</div>
					</div>
				</section>
				<!--==========-->

				{% include share-buttons.html %}

				<section id="faq" class="row">
					<div class="col-sm-6">
						<ul class="accordion-group">
						    <li class="accordion">
						        <a class="accordion-heading">
						        	<h4 class="accordion-title">¿Qué son datos abiertos?</h4>
						        	<span class="fa fa-plus-circle pull-right"></span>
						        </a>
						        <div class="accordion-body">
						        	<p>Los datos abiertos (u open data en inglés) son datos que son libres de utilizar, reutilizar, y redistribuir. La definición completa contiene detalles precisos sobre el significado, pero a modo de resumen, se listan las características más importantes:</p>

									<p> - <strong>Disponibilidad y Acceso:</strong> deben estar disponibles en su totalidad y a un costo de reproducción razonable, preferiblemente descargable de manera gratuita en Internet.</p>
									<p> - <strong>Reutilización y Redistribución:</strong> debe ser posible realizar productos derivados, combinarlos con otras fuentes de información,  y distribuirlos de forma gratuita.</p>
									<p> - <strong>Ausencia de restricción tecnológica:</strong> no debe haber ningún obstáculo tecnológico para acceder, reusar y redistribuir. Esto es posible realizarlo publicando los datos en un formato de datos abierto.</p>
									<p>Nota: Formato abierto es un formato cuya especificación esté disponible públicamente y de manera gratuita, además, para su uso no se deben imponer restricciones de tipo monetario u otras.<p>

									<p> - <strong>Participación universal:</strong> cualquier persona puede utilizar, reutilizar y redistribuir, sin restricciones en el campo de acción de los datos. Por ejemplo no es posible utilizar restricciones como “no comercial”, que impiden el uso comercial; o restricciones como “solo educativo”, que impone limitaciones de uso para ciertos fines.</p>
									<p> Somos los ciudadanos los que tenemos la posibilidad de crear servicios de interés para la ciudadanía y/o el Gobierno. Éste debe fortalecer su rol como proveedor de información, para permitir así, que la sociedad pueda generar servicios a partir de la  reutilización de los datos abiertos disponibles. Dependiendo la naturaleza de los datos, el ciudadano que los reutilice debería tomar los recaudos necesarios para que a través del nuevo servicio o de la información generada se cumplen determinadas pautas tales como:</p>

									<p> * El contenido de la información no es alterado.</p>
									<p> * Que no se desnaturaliza el sentido de la información.</p>
									<p> * Que se cita la fuente.</p>
									<p> * Que se menciona la fecha de la última actualización.</p>
						        </div>
						    </li>
						    <li class="accordion">
						        <a class="accordion-heading">
						        	<h4 class="accordion-title">¿Qué es ABRELATAM y ConDatos?</h4>
						        	<span class="fa fa-plus-circle pull-right"></span>
						        </a>
						        <div class="accordion-body">
						        	<p>ABRELATAM y ConDatos son los eventos donde la comunidad de actores de la sociedad civil, gobierno, academia, desarrolladores, empresas e individuos que trabajan para los Datos Abiertos en América Latina se encuentran para entablar un diálogo sobre el estado e impacto de datos abiertos en la región.</p>
						        </div>
						    </li>
						</ul>
					</div>
					<div class="col-sm-6">
						<ul class="accordion-group">
						    <li class="accordion">
						        <a class="accordion-heading">
						        	<h4 class="accordion-title">¿Cuál es el formato de estos eventos?</h4>
						        	<span class="fa fa-plus-circle pull-right"></span>
						        </a>
						        <div class="accordion-body">
						        	<p><strong>ABRELATAM</strong> es una desconferencia donde diversos actores (gobierno, sociedad civil, expertos) participan en su calidad personal construyendo debates claves sobre temáticas vinculadas a los datos abiertos en diversos campos tales como gobierno abierto, servicios públicos abiertos, privacidad y nuevas formas de trabajo con los datos.</p> 
						        	<p><strong>ConDatos</strong> es una conferencia que reúne a los expertos e instituciones públicas, privadas y de la sociedad civil donde los principales actores de la región presentan, debaten y discuten sobre aspectos clave en materia de políticas de datos abiertos, gobierno abierto, innovación cívica para retos públicos, privacidad y nuevas formas de trabajo con datos abiertos.</p>
						        </div>
						    </li>
						    <li class="accordion">
						        <a class="accordion-heading">
						        	<h4 class="accordion-title">¿Cómo puedo participar?</h4>
						        	<span class="fa fa-plus-circle pull-right"></span>
						        </a>
						        <div class="accordion-body">
						        	<p>Ambos eventos esperan propuestas de sus participantes y eventualmente se comunicarán las formas en que los mismos pueden participar, sea presentando sesiones, paneles o formas no previstas. Lamentablemente ambos eventos tendrán un cupo de participantes máximo debido al espacio físico disponible.</p>
									<p><strong>¿Hay recursos para poder financiar participantes?</strong></p>
									<p>Existen algunos recursos aunque limitados. Tendremos más información en las próximas semanas.</p>
						        </div>
						    </li>
						</ul>
					</div>
				</section>

				<section id="subscribe" class="row">
					<div class="col-sm-12">
						<div class="section-header text-left">
							<h2>Suscríbete</h2>
							<h4>Recibe toda la información y novedades de la desconferencia 2015</h4>
						</div>
					</div>
					<div class="col-sm-12">
						{% include subscribe-form.html %}
					</div>
				</section>

				<!--===============================-->
				<!--== Blog =======================-->
				<!--===============================-->
				<section id="blog" class="row">
					<div class="col-md-12 col-sm-12">
						<div class="section-header text-center">
							<h2>Blog</h2>
							<h4>Que esta pasando en la Comunidad AbreLatam</h4>
						</div>
						<div class="text-width">
							{% include feed-blog.html %}
						</div>
					</div>
				</section>


				<!--===============================-->
				<!--== Speakers ===================-->
				<!--===============================-->
				<section id="speakers" class="separated">
					<div class="row">
						<div class="col-sm-12">
							<div class="section-header text-center">
								<h2>Temas</h2>
								<h4>Estos son sólo algunos de los temas que vamos a tratar en #Abrelatam15</h4>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="speaker">
								<div class="speaker-info">
									<div class="speaker-photo">
										<img src="images/demo/speakers/speaker-01.jpg" alt="Speaker 1">
									</div>								
									<div class="speaker-contacts">
										<a href="#" class="contact pull-left fa fa-facebook"></a>
										<a href="#" class="contact pull-right fa fa-twitter"></a>
									</div>
								</div>
								<h3>Apertura de datos</h3>
								<p>Estrategias y experiencias para que los gobiernos abran sus datos.</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="speaker">
								<div class="speaker-info">
									<div class="speaker-photo">
										<img src="images/demo/speakers/speaker-02.jpg" alt="Speaker 2">
									</div>
									<div class="speaker-contacts">
										<a href="#" class="contact pull-left fa fa-facebook"></a>
										<a href="#" class="contact pull-right fa fa-twitter"></a>
									</div>
								</div>
								<h3>Bases de datos</h3>
								<p>Calidad, formato y periodicidad de los datos.</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="speaker">
								<div class="speaker-info">
									<div class="speaker-photo">
										<img src="images/demo/speakers/speaker-03.jpg" alt="Speaker 3">
									</div>
									<div class="speaker-contacts">
										<a href="#" class="contact pull-left fa fa-facebook"></a>
										<a href="#" class="contact pull-right fa fa-twitter"></a>
									</div>
								</div>
								<h3>Financiamiento</h3>
								<p>Claves para emprender con un proyecto de datos abiertos.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="speaker">
								<div class="speaker-info">
									<div class="speaker-photo">
										<img src="images/demo/speakers/speaker-04.jpg" alt="Speaker 4">
									</div>
									<div class="speaker-contacts">
										<a href="#" class="contact pull-left fa fa-facebook"></a>
										<a href="#" class="contact pull-right fa fa-twitter"></a>
									</div>
								</div>
								<h3>Cultura datera</h3>
								<p>Experiencias de la comunidad que trabaja con datos abiertos.</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="speaker">
								<div class="speaker-info">
									<div class="speaker-photo">
										<img src="images/demo/speakers/speaker-05.jpg" alt="Speaker 5">
									</div>
									<div class="speaker-contacts">
										<a href="#" class="contact pull-left fa fa-facebook"></a>
										<a href="#" class="contact pull-right fa fa-twitter"></a>
									</div>
								</div>
								<h3>Gobierno Abierto</h3>
								<p>Lo que nos gusta y lo que no en el camino por abrir los Estados.</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="speaker">
								<div class="speaker-info">
									<div class="speaker-photo">
										<img src="images/demo/speakers/speaker-06.jpg" alt="Speaker 6">
									</div>
									<div class="speaker-contacts">
										<a href="#" class="contact pull-left fa fa-facebook"></a>
										<a href="#" class="contact pull-right fa fa-twitter"></a>
									</div>
								</div>
								<h3>Transparencia</h3>
								<p>Datos abiertos como herramienta al servicio de la transparencia</p>
							</div>
						</div>
						<div class="text-center margin-top col-md-12 col-sm-12"><h4>¿Y a ti qué temas te gustaría tratar en #Abrelatam15? <a class="btn btn-small" href="https://docs.google.com/forms/d/1zyHKzLfII1Y6D-LIasFO07rEMUe3KeYpY5EoeuNwjDk/viewform" target="_blank">Cuéntanos</a></h4></div>
					</div>
				</section>
				<!--==========-->

				<!--===============================-->
				<!--== News ===================-->
				<!--===============================-->
				<section id="news" class="row">
					<div class="col-md-12 col-sm-12">
						<div class="section-header text-center">
							<h2>Noticias</h2>
							<h4>Que esta pasando con los datos abiertos en el mundo</h4>
						</div>
						<div class="text-width">
							{% include feed-noticias.html %}
						</div>
					</div>
				</section>

				
				<div id="gotop" class="gotop fa fa-arrow-up"></div>
			</div>
		</div>
		<footer id="footer">
			<div id="map_canvas"></div>
			
			<div class="footer">
				<div class="container box">

					<section id="info" class="row">
						<div class="col-sm-8">

							<!--== Social Icons ==-->
							<ul class="social-icons">
								<li><a href="#" class="fa fa-facebook"></a></li>
								<li><a href="#" class="fa fa-twitter"></a></li>
								<li><a href="#" class="fa fa-google-plus"></a></li>
								<li><a href="#" class="fa fa-youtube"></a></li>
								<li><a href="#" class="fa fa-instagram"></a></li>
								<li><a href="#" class="fa fa-pinterest"></a></li>
								<li><a href="#" class="fa fa-linkedin"></a></li>
							</ul>

						</div>
						<div class="col-sm-4 text-right">
							<div class="copyrights">
								All Rights Reserved. © 2014
							</div>
						</div>
					</section>

				</div>
			</div>
		</footer>

		<!--== Javascript Files ==-->
		
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.scrollTo.js"></script>
		<script src="js/jquery.nav.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/jquery.flexslider.js"></script>
		<script src="js/jquery.accordion.js"></script>
		<script src="js/jquery.placeholder.js"></script>
		<script src="js/jquery.fitvids.js"></script>
		<script src="js/gmap3.js"></script>
		<script src="js/fancySelect.js"></script>
		<script src="js/main.js"></script>

