---
layout: default
---	

<header id="header">
			
			{% include menu.html %}
			<!--== Site Description ==-->
			<div class="header-cta">
				<div class="container">
					<div class="row">
						<div class="blk">
							<h1>Un encuentro abierto<br/>Por una región abierta</h1>
						</div>
					</div>
<!-- 					<div class="row">
						<div class="blk">
							<input type="submit" value="Register" name="submit" id="goregister">
						</div>
					</div> -->
				</div>
			</div>

			<div class="header-bg">
				<div id="preloader">
					<div class="preloader"></div>
				</div>
				<div class="main-slider" id="main-slider">

					<!--== Main Slider ==-->
					<ul class="slides">
						<li><img src="images/demo/bg-slide-05.jpg" alt="Slide Image"/></li>
						<li><img src="images/demo/bg-slide-02.jpg" alt="Slide Image 2"/></li>
						<li><img src="images/demo/bg-slide-03.jpg" alt="Slide Image 3"/></li>
						<li><img src="images/demo/bg-slide-04.jpg" alt="Slide Image 3"/></li>
					</ul>

				</div>
			</div>
		</header>

		<div class="content">
			<div class="container box">
				<!--===============================-->
				<!--== Features ===================-->
				<!--===============================-->
				<section id="features" class="row">
					<div class="col-md-3 col-xs-6">
						<div class="event-info">
							<div class="icon fa fa-map-marker"></div>
							<div class="info">
								<h3>Santiago, Chile.</h3>
								<span>GAM. Av. Libertador Bernardo O'Higgins 227.</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-xs-6">
						<div class="event-info">
							<div class="icon fa fa-calendar"></div>
							<div class="info">
								<h3>7 y 8 de Sept.</h3>
								<span>2015</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-xs-6">
						<div class="event-info">
							<div class="icon fa fa-microphone"></div>
							<div class="info">
								<h3>Desconferencia</h3>
								<span>De datos abiertos</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-xs-6">
						<div class="event-info">
							<div class="icon fa fa-users"></div>
							<div class="info">
								<h3>Sociedad civil</h3>
								<span>Latinoamericana</span>
							</div>
						</div>
					</div>
				</section>
				<!--==========-->

				{% include share-buttons.html %}


				<!--===============================-->
				<!--== Blog =======================-->
				<!--===============================-->
				<section id="blog" class="row">
					<div class="col-md-12 col-sm-12">
						<div class="section-header text-center">
							<h2>Blog</h2>
							<h4>Que esta pasando en la Comunidad AbreLatam</h4>
						</div>
						<div class="text-width">
							{% include feed-blog.html %}
						</div>
						<div class="text-right margin-top col-md-12 col-sm-12"><a class="btn btn-small" href="http://blog.abrelatam.org/" target="_blank">Ver todos los articulos</a></div>
					</div>
				</section>

				<div id="gotop" class="gotop fa fa-arrow-up"></div>
			</div>
		</div>
		<footer id="footer">
			<div id="map_canvas"></div>
			
			<div class="footer">
				<div class="container box">

					<section id="info" class="row">
						<div class="col-sm-6">

							<!--== Social Icons ==-->
							<ul class="social-icons">
								<li><a href="https://www.facebook.com/ABRELATAM" class="fa fa-facebook"></a></li>
								<li><a href="https://twitter.com/abrelatam" class="fa fa-twitter"></a></li>
								<li><a href="https://www.youtube.com/user/abrelatam" class="fa fa-youtube"></a></li>
							</ul>

						</div>
						<div class="col-sm-6 text-right">
							<div class="copyrights">
								Invitan: <a href="http://ciudadanointeligente.org/"><img src="{{ site.baseurl }}/images/fci-footer.png"></a><a href="http://condatos.org/"><img src="{{ site.baseurl }}/images/condatos-footer.png"></a>
							</div>
						</div>
					</section>

				</div>
			</div>
		</footer>

		<!--== Javascript Files ==-->
		
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.scrollTo.js"></script>
		<script src="js/jquery.nav.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/jquery.flexslider.js"></script>
		<script src="js/jquery.accordion.js"></script>
		<script src="js/jquery.placeholder.js"></script>
		<script src="js/jquery.fitvids.js"></script>
		<script src="js/gmap3.js"></script>
		<script src="js/fancySelect.js"></script>
		<script src="js/main.js"></script>

