---
layout: default
---

<header id="header">
			{% include internal_menu.html %}
<div class="header-bgo"></div>
</header>

<div class="header-bg-page"></div>
		<div class="content">

			<div class="container box">
				<section id="mapa" class="row">
					<div class="col-sm-12">
					</div>
					{% include mapa.html %}

				</section>

				<div id="gotop" class="gotop fa fa-arrow-up"></div>
			</div>
		</div>
		<footer id="footer">
			<div id="map_canvas"></div>

			<div class="footer">
				<div class="container box">

					<section id="info" class="row">
						<div class="col-sm-8">

							<!--== Social Icons ==-->
							<ul class="social-icons">
								<li><a href="https://fb.com/ABRELATAM" target="_blank" class="fa fa-facebook"></a></li>
								<li><a href="https://twitter.com/Abrelatam" target="_blank" class="fa fa-twitter"></a></li>
								<li><a href="https://youtube.com/abrelatam" target="_blank" class="fa fa-youtube"></a></li>
							<!--	<li><a href="#" class="fa fa-google-plus"></a></li>
								<li><a href="#" class="fa fa-instagram"></a></li>
								<li><a href="#" class="fa fa-pinterest"></a></li>
								<li><a href="#" class="fa fa-linkedin"></a></li>-->
							</ul>

						</div>
						<div class="col-sm-4 text-right">
							<div class="copyrights">
								All Rights Reserved. © 2016<br>
								contacto@abrelatam.org
							</div>
						</div>
					</section>


				</div>
			</div>
		</footer>

		<!--== Javascript Files ==-->

		<script src="{{ site.baseurl }}js/bootstrap.min.js"></script>
		<script src="{{ site.baseurl }}js/jquery.scrollTo.js"></script>
		<script src="{{ site.baseurl }}js/jquery.nav.js"></script>
		<script src="{{ site.baseurl }}js/owl.carousel.min.js"></script>
		<script src="{{ site.baseurl }}js/jquery.flexslider.js"></script>
		<script src="{{ site.baseurl }}js/jquery.accordion.js"></script>
		<script src="{{ site.baseurl }}js/jquery.placeholder.js"></script>
		<script src="{{ site.baseurl }}js/jquery.fitvids.js"></script>
		<script src="{{ site.baseurl }}js/gmap3.js"></script>
		<script src="{{ site.baseurl }}js/fancySelect.js"></script>
		<script src="js/main.js"></script>
