				<!--===============================-->
				<!--== Schedule ===================-->
				<!--===============================-->
				<section id="schedule" class="row">
						<div class="content-tabs">
							<ul class="nav nav-tabs">
							  <li><a href="#tab1" data-toggle="tab">Domingo 6 de Septiembre</a></li>
							  <li class="active"><a href="#tab2" data-toggle="tab">Lunes 7 de Septiembre</a></li>
							  <li><a href="#tab3" data-toggle="tab">Martes 8 de Septiembre</a></li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane" id="tab1">
									<ul class="accordion-group">
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>20:00</time>
									        	<h4 class="accordion-title">Salida a comer</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Si llegaste antes, entonces súmate a una salida a comer que tendremos. Pronto estaremos comunicando las coordenadas.
									        </div>
									    </li>
									</ul>
								</div>
								<div class="tab-pane active" id="tab2">
									<ul class="accordion-group">
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>12:30 - 13:00</time>
									        	<h4 class="accordion-title">Registro de Participantes y Bienvenida + Coffee Break</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	¡Bienvenido! Ya estarás en Chile y nos encargaremos de que disfrutes de tu estadía.  Aquí recibirás información de orden logístico de todas las actividades que realizaremos.
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>13:00 - 13:30</time>
									        	<h4 class="accordion-title">Bienvenida</h4>
									        </a>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>13:30 - 15:30</time>
									        	<h4 class="accordion-title">Actividades Abrelatamísticas</h4>
									        </a>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>15:30 - 16:00</time>
									        	<h4 class="accordion-title">Coffee break</h4>
									        </a>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>16:00 - 18:00</time>
									        	<h4 class="accordion-title">Actividades Abrelatamísticas</h4>
									        </a>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>18:00 - 18:30</time>
									        	<h4 class="accordion-title">Cierre</h4>
									        </a>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>18:30</time>
									        	<h4 class="accordion-title">After Aabrelatam</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Es nuestro primer día, ha sido intenso pero nunca es tarde para juntarnos a compartir. Nos vemos entonces en (lugar a definir). Ojo que no es obligación, solo para quien siga con energía.
									        </div>
									        </a>
									    </li>
									</ul>
								</div>
								<div class="tab-pane" id="tab3">
									<ul class="accordion-group">
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>9.00 - 9.30</time>
									        	<h4 class="accordion-title">Registro de Participantes</h4>
									        </a>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>9.30 - 11:30</time>
									        	<h4 class="accordion-title">Actividades Abrelatamísticas</h4>
									        </a>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>11:30  - 11:45</time>
									        	<h4 class="accordion-title">Coffee break</h4>
									        </a>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>11:45 - 13:15</time>
									        	<h4 class="accordion-title">Actividades Abrelatamísticas</h4>
									        </a>
									    </li>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>13:15 - 14:15</time>
									        	<h4 class="accordion-title">Almuerzo Libre</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Cercano al GAM, está el conocido “Barrio Lastarria”, sector donde hay restaurantes y lugares entretenidos para poder almorzar.
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>14:15 - 15:45</time>
									        	<h4 class="accordion-title">Actividades Abrelatamísticas</h4>
									        </a>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>15:45 - 16:15</time>
									        	<h4 class="accordion-title">Coffee break</h4>
									        </a>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>16:15 - 17:30</time>
									        	<h4 class="accordion-title">Actividades Abrelatamísticas</h4>
									        </a>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>17:30 - 18:00</time>
									        	<h4 class="accordion-title">Cierre</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Queremos compartir y hacer un balance de lo que fue la experiencia de #ABRELATAM15. ¡Tengamos este espacio de reflexión y de retos para lo que se nos viene!
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>21:00 - 24:00</time>
									        	<h4 class="accordion-title"><strong>Evento de Cierre Comunidad Abrelatam <i class="fa fa-music"></i></strong></h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	¡Vamos a celebrar el Encuentro de la Comunidad LATAM de Datos Abiertos! Un poquito de música, conversación y buena onda. Ya estamos afinando los detalles.
									        </div>
									    </li>
									</ul>
								</div>
							</div>
						</div>
				</section>