<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>  
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- OGP -->
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.baseurl }}" />
    <meta property="og:image" content="{{ site.baseurl }}/images/abrelatam-profile.png" />

    <!-- twitter card -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ site.twitter_username }}">
    <meta name="twitter:title" content="{{ site.title }}">
    <meta name="twitter:description" content="{{ site.description }}">
    <meta name="twitter:creator" content="{{ site.twitter_username }}">
    <meta name="twitter:image" content="{{ site.baseurl }}/images/abrelatam-profile.png">
    
    <!--== CSS Files ==-->
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="css/style.css" rel="stylesheet" media="screen">
    <link href="css/animate.min.css" rel="stylesheet" media="screen">
    <link href="css/font-awesome.css" rel="stylesheet" media="screen">
    <link href="css/owl.carousel.css" rel="stylesheet" media="screen">
    <link href="css/flexslider.css" rel="stylesheet" media="screen">
    <link href="css/fancySelect.css" rel="stylesheet" media="screen">
    <link href="css/responsive.css" rel="stylesheet" media="screen">

    <!--== Google Fonts ==-->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Belgrano' rel='stylesheet' type='text/css'>

    <script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="js/jquery-2.1.0.min.js"></script>
</head>