<!--===============================-->
<!--== Image Slider ===============-->
<!--===============================-->
<section id="image-slider" class="row">
	<div class="col-sm-12">
		<div class="section-header">
			<h2>Comunidad</h2>
			<h4>Awesome section description goes here.</h4>
		</div>
	</div>
	<div class="col-md-5 col-sm-12">
		<h3>Lorem ipsum</h3>
		<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, quos, ratione, optio, blanditiis deserunt saepe iure sunt odit atque eius voluptatum labore excepturi explicabo aliquid sapiente porro voluptas commodi sint?</h4>
		<blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, quas, quibusdam, impedit ducimus nisi fugiat veritatis cupiditate commodi</blockquote>
	</div>
	<div class="col-md-7 col-sm-12">
		<div class="flexslider">
			<ul class="slides">
				<li><img src="images/demo/slide-01.jpg" alt="Slide Image"/></li>
				<li><img src="images/demo/slide-02.jpg" alt="Slide Image 2"/></li>
			</ul>
		</div>
	</div>
</section>
<!--==========-->