<section id="mapa">
    <div class="container box" >
      <h2>VisuAbrelatam 2015: Mapa del Continente Abrelatamero</h2>
      <p>Resumen de Organizaciones y Proyectos presentes en Abrelatam 2014.</p>
      <div class="row">
        <iframe src="http://compromisos.somosmas.org/mapa/public/index.html" height="820" width="100%" seamless frameborder=0 scrolling="no" ></iframe>
      </div>
      <div class="row"  style="margin-bottom:40px;border-top: #eee 2px solid;">
        <div class="col-sm-6 text-center" style="line-height: 1.8em;">
          <h4>Créditos:</h4>
            <small>
              Coordinación: <a href="http://twitter.com/ancamatioc" target="_blank">Anca Matioc</a><Br>
              Contenidos: <a href="http://twitter.com/AncaMatioc " target="_blank">Anca Matioc</a> +
              <a href="http://twitter.com/faeriedevilish" target="_blank">Mariel García</a> +
              <a href="http://twitter.com/yasgarcia" target="_blank">Yamila García</a><br>
              Diseño: <a href="http://twitter.com/rusosnith" target="_blank">Andres Snitcofsky</a>&nbsp;-&nbsp;
              Desarrollo: <a href="http://twitter.com/tincho_for_ever" target="_blank">Martin Rabaglia</a> <Br>

            </small>
        </div>
        <div class="col-sm-6 text-center" >
              <h4>Patrocinadores de esta visualización:</h4>
              <div class="item">
                <img src="{{ site.baseurl }}/images/logos/ilda.png" alt="ILDA" style="width: 250px;">
                <img src="{{ site.baseurl }}/images/logos/avina.jpg" alt="AVINA" style="width: 120px;">
              </div>
        </div>

      </div>
    </div>
</section>
