<!--===============================-->
<!--== Register ===================-->
<!--===============================-->
	<div class="text-width">
		<form action="https://docs.google.com/forms/d/1sXuFMZFwv0xQbLwmYZS2MsMoH-ICqTN2Ic2q7A2Wc_U/formResponse" method="POST" id="ss-form register-form" class="form" target="_self" onsubmit=""><ol role="list" class="ss-question-list" style="padding-left: 0">

			<div class="col-md-offset-1 col-md-10 col-md-offset-1 col-sm-12 ss-form-question errorbox-good" role="listitem">
				<div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
				<input placeholder="Nombre*" required type="text" name="entry.564366013" value="" class="ss-q-short" id="entry_564366013" dir="auto" aria-label="Nombre  " aria-required="true" required="" title="">
				<div class="error-message" id="1748522383_errorMessage"></div>
				</div></div>
			</div> 

			<div class="ccol-md-offset-1 col-md-10 col-md-offset-1 col-sm-12 ss-form-question errorbox-good" role="listitem">
				<div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
				<input placeholder="Apellido*" required type="text" name="entry.551437049" value="" class="ss-q-short" id="entry_551437049" dir="auto" aria-label="Apellido  " aria-required="true" required="" title="">
				<div class="error-message" id="810905809_errorMessage"></div>
				</div></div>
			</div> 

			<div class="col-md-offset-1 col-md-10 col-md-offset-1 col-sm-12 ss-form-question errorbox-good" role="listitem">
				<div dir="ltr" class="ss-item ss-item-required ss-select"><div class="ss-form-entry">
				<select name="entry.646156032" id="entry_646156032" aria-label="Sexo  " aria-required="true" required="">
				<option value="">Sexo*</option><option value="Mujer">Mujer</option> <option value="Hombre">Hombre</option></select>
				</div></div>
			</div> 

			<div class="col-md-offset-1 col-md-10 col-md-offset-1 col-sm-12 ss-form-question errorbox-good" role="listitem">
				<div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
				<input placeholder="Email*" required type="text" name="entry.137968264" value="" class="ss-q-short" id="entry_137968264" dir="auto" aria-label="Correo electrónico   " aria-required="true" required="" title="">
				<div class="error-message" id="366496304_errorMessage"></div>
				</div></div>
			</div> 

			<div class="col-md-offset-1 col-md-10 col-md-offset-1 col-sm-12 ss-form-question errorbox-good" role="listitem">
				<div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry">
				<input placeholder="Twitter" type="text" name="entry.802438511" value="" class="ss-q-short" id="entry_802438511" dir="auto" aria-label="Twitter  " title="">
				<div class="error-message" id="250746554_errorMessage"></div>
				</div></div>
			</div> 

			<div class="col-md-offset-1 col-md-10 col-md-offset-1 col-sm-12 ss-form-question errorbox-good" role="listitem">
				<div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
				<input placeholder="País de residencia*" required type="text" name="entry.985515518" value="" class="ss-q-short" id="entry_985515518" dir="auto" aria-label="País de residencia   " aria-required="true" required="" title="">
				<div class="error-message" id="1021410267_errorMessage"></div>
				</div></div>
			</div> 

			<div class="col-md-offset-1 col-md-10 col-md-offset-1 col-sm-12 ss-form-question errorbox-good" role="listitem">
				<div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
				<input placeholder="Ciudad de residencia*" required type="text" name="entry.563087446" value="" class="ss-q-short" id="entry_563087446" dir="auto" aria-label="Ciudad de residencia   " aria-required="true" required="" title="">
				<div class="error-message" id="762571935_errorMessage"></div>
				</div></div>
			</div> 

			<div class="col-md-offset-1 col-md-10 col-md-offset-1 col-sm-12 ss-form-question errorbox-good" role="listitem">
				<div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
				<input placeholder="Institución en la que trabajas o estudias*" required type="text" name="entry.105575536" value="" class="ss-q-short" id="entry_105575536" dir="auto" aria-label="Institución en la que trabajas o estudias  " aria-required="true" required="" title="">
				<div class="error-message" id="298501968_errorMessage"></div>
				</div></div>
			</div> 

			<div class="col-md-offset-1 col-md-10 col-md-offset-1 col-sm-12 ss-form-question errorbox-good" role="listitem">
				<div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry">
				<input placeholder="Cargo" type="text" name="entry.1703870664" value="" class="ss-q-short" id="entry_1703870664" dir="auto" aria-label="Cargo  " title="">
				<div class="error-message" id="897804393_errorMessage"></div>
				</div></div>
			</div> 

			<div class="col-md-offset-1 col-md-10 col-md-offset-1 col-sm-12 ss-form-question errorbox-good" role="listitem">
				<div dir="ltr" class="ss-item ss-item-required ss-radio"><div class="ss-form-entry">
				<div class="ss-q-item-label" for="entry_874197707"><div class="strong ss-q-title">Área en la que trabajas*
				<div for="itemView.getDomIdToLabel()" aria-label="(Required field)"></div></div>
				<div class="ss-q-help ss-secondary-text" dir="ltr"></div></div>
				<div class="ss-choices" role="radiogroup" aria-label="Área en la que trabajas  ">
					<div class="ss-choice-item"><div><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1736693208" value="ONG que trabaja con datos abiertos" id="group_1736693208_1" role="radio" class="ss-q-radio" aria-label="ONG que trabaja con datos abiertos" required="" aria-required="true"></span>
					<span class="ss-choice-label">ONG que trabaja con datos abiertos</span>
					</div></div> 
					<div class="ss-choice-item"><div><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1736693208" value="ONG que no trabaja con datos abiertos" id="group_1736693208_2" role="radio" class="ss-q-radio" aria-label="ONG que no trabaja con datos abiertos" required="" aria-required="true"></span>
					<span class="ss-choice-label">ONG que no trabaja con datos abiertos</span>
					</div></div> 
					<div class="ss-choice-item"><div><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1736693208" value="Gobierno" id="group_1736693208_3" role="radio" class="ss-q-radio" aria-label="Gobierno" required="" aria-required="true"></span>
					<span class="ss-choice-label">Gobierno</span>
					</div></div> 
					<div class="ss-choice-item"><div><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1736693208" value="Academia" id="group_1736693208_4" role="radio" class="ss-q-radio" aria-label="Academia" required="" aria-required="true"></span>
					<span class="ss-choice-label">Academia</span>
					</div></div> 
					<div class="ss-choice-item"><div><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1736693208" value="Emprendedor" id="group_1736693208_5" role="radio" class="ss-q-radio" aria-label="Emprendedor" required="" aria-required="true"></span>
					<span class="ss-choice-label">Emprendedor</span>
					</div></div> 
					<div class="ss-choice-item"><div><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1736693208" value="__other_option__" id="group_1736693208_6" role="radio" class="ss-q-radio ss-q-other-toggle" required="" aria-required="true"></span>
					<span class="ss-choice-label">Otro:</span></div>
					<span class="ss-q-other-container goog-inline-block"><input type="text" name="entry.1736693208.other_option_response" value="" class="ss-q-other" id="entry_1736693208_other_option_response" dir="auto" aria-label="Other"></span>
					</div>
				</div>
				<div class="error-message" id="874197707_errorMessage"></div>
				</div></div>
			</div> 

			<div class="col-md-offset-1 col-md-10 col-md-offset-1 col-sm-12 ss-form-question errorbox-good" role="listitem">
				<div dir="ltr" class="ss-item ss-item-required ss-radio"><div class="ss-form-entry">
				<div class="ss-q-item-label" for="entry_744567819"><div class="strong ss-q-title">¿Qué relación tienes con los datos abiertos?*
				<div for="itemView.getDomIdToLabel()" aria-label="(Required field)"></div></div>
				<div class="ss-q-help ss-secondary-text" dir="ltr"></div></div>

				<div class="ss-choices" role="radiogroup" aria-label="¿Qué relación tienes con los datos abiertos?   "><div class="ss-choice-item"><div><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.827422887" value="Activismo" id="group_827422887_1" role="radio" class="ss-q-radio" aria-label="Activismo" required="" aria-required="true"></span>
				<span class="ss-choice-label">Activismo</span>
				</div></div> <div class="ss-choice-item"><div><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.827422887" value="Estudio" id="group_827422887_2" role="radio" class="ss-q-radio" aria-label="Estudio" required="" aria-required="true"></span>
				<span class="ss-choice-label">Estudio</span>
				</div></div> <div class="ss-choice-item"><div><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.827422887" value="Emprendimiento" id="group_827422887_3" role="radio" class="ss-q-radio" aria-label="Emprendimiento" required="" aria-required="true"></span>
				<span class="ss-choice-label">Emprendimiento</span>
				</div></div> <div class="ss-choice-item"><div><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.827422887" value="Gobierno" id="group_827422887_4" role="radio" class="ss-q-radio" aria-label="Gobierno" required="" aria-required="true"></span>
				<span class="ss-choice-label">Gobierno</span>
				</div></div> <div class="ss-choice-item"><div><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.827422887" value="Ninguna, pero quiero aprender." id="group_827422887_5" role="radio" class="ss-q-radio" aria-label="Ninguna, pero quiero aprender." required="" aria-required="true"></span>
				<span class="ss-choice-label">Ninguna, pero quiero aprender.</span>
				</div></div> <div class="ss-choice-item"><div><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.827422887" value="__other_option__" id="group_827422887_6" role="radio" class="ss-q-radio ss-q-other-toggle" required="" aria-required="true"></span>
				<span class="ss-choice-label">Other:</span></div>
				<span class="ss-q-other-container goog-inline-block"><input type="text" name="entry.827422887.other_option_response" value="" class="ss-q-other" id="entry_827422887_other_option_response" dir="auto" aria-label="Other"></span>
				</div></div>
				<div class="error-message" id="744567819_errorMessage"></div>
				</div></div>
			</div> 

			<div class="col-md-offset-1 col-md-10 col-md-offset-1 col-sm-12 ss-form-question errorbox-good" role="listitem">
				<div dir="ltr" class="ss-item ss-item-required ss-select"><div class="ss-form-entry">
				<select name="entry.74596707" id="entry_74596707" aria-label="¿A qué eventos te interesa asistir?   " aria-required="true" required="">
					<option value="">¿A qué eventos te interesa asistir?*</option>
					<option value="Abrelatam y Condatos">Abrelatam y Condatos</option> 
					<option value="Sólo Abrelatam">Sólo Abrelatam</option> 
					<option value="Sólo Condatos">Sólo Condatos</option>
				</select>
				</div></div>
			</div> 

			<div class="col-md-offset-1 col-md-10 col-md-offset-1 col-sm-12 ss-form-question errorbox-good" role="listitem">
				<div dir="ltr" class="ss-item ss-item-required ss-select"><div class="ss-form-entry">
				<select name="entry.1345210297" id="entry_1345210297" aria-label="¿Has asistido antes a un evento ABRELATAM o CONDATOS?  " aria-required="true" required="">
				<option value="">¿Has asistido antes a un evento ABRELATAM o CONDATOS?*</option><option value="Si">Si</option> <option value="No">No</option></select>
				</div></div>
			</div> 

			<div class="col-md-offset-1 col-md-10 col-md-offset-1 col-sm-12 ss-form-question errorbox-good" role="listitem">
				<div dir="ltr" class="ss-item ss-item-required ss-paragraph-text"><div class="ss-form-entry">
				<label class="ss-q-item-label" for="entry_1410717805"><div class="ss-q-title">¿Cuál podría ser tu aporte a Abrelatam - Condatos?
				<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
				<span class="ss-required-asterisk" aria-hidden="true">*</span></div>
				<div class="ss-q-help ss-secondary-text" dir="ltr">500 caracteres máximo. </div></label>
				<textarea name="entry.1410717805" rows="8" cols="0" class="ss-q-long" id="entry_1410717805" dir="auto" aria-label="¿Cuál podría ser tu aporte a Abrelatam - Condatos? 500 caracteres máximo.  Must be fewer than 500 characters." aria-required="true" required=""></textarea>
				
				</div></div>
			</div> 

			<div class="col-md-offset-1 col-md-10 col-md-offset-1 col-sm-12 ss-form-question errorbox-good" role="listitem">
				<div dir="ltr" class="ss-item ss-item-required ss-checkbox"><div class="ss-form-entry">
				<label class="ss-q-item-label" for="entry_1876929488"><div class="ss-q-title">¿Cuál es tu intención de asistir a Abrelatam - Condatos?*
				<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label></div>
				<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
				<div class="ss-choices ss-choices-required" role="group" aria-label="¿Cuál es tu intención de asistir a Abrelatam - Condatos?  ">
					<div class="ss-choice-item">
						<span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1266061100" value="Mejorar mi CV" id="group_1266061100_1" role="checkbox" class="ss-q-checkbox" aria-required="true"></span><span class="ss-choice-label">Mejorar mi CV</span>
					</div> 
				<div class="ss-choice-item"><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1266061100" value="Aprender para colaborar con mi comunidad" id="group_1266061100_2" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
				<span class="ss-choice-label">Aprender para colaborar con mi comunidad</span>
				</div> <div class="ss-choice-item"><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1266061100" value="Networking" id="group_1266061100_3" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
				<span class="ss-choice-label">Networking</span>
				</div> <div class="ss-choice-item"><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1266061100" value="Conocer sobre el creciente tema de los datos abiertos" id="group_1266061100_4" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
				<span class="ss-choice-label">Conocer sobre el creciente tema de los datos abiertos</span>
				</div> <div class="ss-choice-item"><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1266061100" value="Dar a conocer una iniciativa de datos abiertos" id="group_1266061100_5" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
				<span class="ss-choice-label">Dar a conocer una iniciativa de datos abiertos</span>
				</div> <div class="ss-choice-item"><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1266061100" value="__other_option__" id="group_1266061100_6" role="checkbox" class="ss-q-checkbox ss-q-other-toggle" aria-required="true"></span>
				<span class="ss-choice-label">Other:</span>
				<span class="ss-q-other-container goog-inline-block"><input type="text" name="entry.1266061100.other_option_response" value="" class="ss-q-other" id="entry_1266061100_other_option_response" dir="auto" aria-label="Other"></span>
				</div></div>
				<div class="error-message" id="1876929488_errorMessage"></div>
				</div></div>
			</div> 

			<div class="col-md-offset-1 col-md-10 col-md-offset-1 col-sm-12 ss-form-question errorbox-good" role="listitem">
				<div dir="ltr" class="ss-item ss-item-required ss-select"><div class="ss-form-entry">
				<select name="entry.1435718639" id="entry_1435718639" aria-label="¿Necesitas becas para poder asistir a Abrelatam - Condatos?  " aria-required="true" required="">
				<option value="">¿Necesitas becas para poder asistir a Abrelatam - Condatos?*</option><option value="Si, de pasajes y alojamiento.">Si, de pasajes y alojamiento.</option> <option value="Si, sólo de pasajes.">Si, sólo de pasajes.</option> <option value="Si, sólo de alojamiento.">Si, sólo de alojamiento.</option> <option value="No necesito.">No necesito.</option></select>
				</div></div>
			</div>

			<input type="hidden" name="draftResponse" value="[,,&quot;-6026839352112660513&quot;]
			">
			<input type="hidden" name="pageHistory" value="0">


			<input type="hidden" name="fbzx" value="-6026839352112660513">

			<div class="col-md-offset-1 col-md-10 col-md-offset-1 col-sm-12 ss-item ss-navigate">
				<input type="submit" name="submit" value="Enviar" id="ss-submit" class="jfk-button jfk-button-action ">
				<div class="small">*Los resultados de la postulación a Becas se darán a conocer la segunda semana de Julio</div>
			</div>
			</ol>
		</form>
	</div>
<!--==========-->