<!--===============================-->
<!--== Register ===================-->
<!--===============================-->
<!-- 				<section id="register" class="row">
	<div class="col-sm-12">
		<div class="section-header text-center">
			<h2>Regístrate</h2>
			<h4>Nos vemos en Septiembre</h4>
		</div>
	</div>
	<div class="col-sm-12">
		<form id="register-form" method="post" class="form">
			<div class="col-md-2 col-sm-6">
				<input name="name" id="name" type="text" placeholder="Name" required>
			</div>
			<div class="col-md-3 col-sm-6">
				<input name="email" id="email" type="email" placeholder="Email" required>
			</div>
			<div class="col-md-2 col-sm-6">
				<input name="telephone" id="telephone" type="tel" placeholder="Telephone">
			</div>
			<div class="col-md-2 col-sm-6">
				<select name="ticket" id="ticket">
					<option value="Silver">Silver</option>
					<option value="Gold">Gold</option>
					<option value="Platinum">Platinum</option>
				</select>
			</div>
			<div class="col-md-3 col-sm-12">
				<input type="submit" value="Register" name="submit">
			</div>
			<p class="form-notification" style="display: none;">Registration Complete</p>
		</form>
	</div>
</section> -->
<!--==========-->