<div class="social">
			<ul class="social-icons">
				<li><div class="fb-share-button" data-href="{{ site.baseurl }}" data-layout="button_count"></div></li>
				<li><a class="twitter-share-button" data-text="#Abrelatam15 un encuentro abierto por una región abierta | 7 y 8 de Sept." data-via="abrelatam" href="https://twitter.com/share">Tweet</a></li>
			</ul>
</div>

<script>
window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
