<form action="https://docs.google.com/forms/d/e/1FAIpQLScXF6KKWmk45Hdum8lxsjWABYWc7QdSVsmRGmR-MBl05XowHQ/formResponse" method="POST" id="ss-form subscribe-form" class="form" target="_self" onsubmit=""><ol role="list" class="ss-question-list" style="padding-left: 0">
	<div class="col-md-2 col-sm-6">
		<input type="text" name="entry.310439997" value="" class="ss-q-short" id="entry.310439997" dir="auto" aria-label="Nombre   " aria-required="true" placeholder="Nombre*" required="" title="">
	</div>
	<div class="col-md-2 col-sm-6">
		<input type="text" name="entry.1050418743" value="" class="ss-q-short" id="entry.1050418743" dir="auto" aria-label="Apellidos  " aria-required="true" required="" title="" placeholder="Apellidos*">
	</div>
	<div class="col-md-2 col-sm-6">
		<input type="text" name="entry.151731803" value="" class="ss-q-short" id="entry.151731803" dir="auto" aria-label="Organización   " title="" placeholder="Organización">
	</div>
	<div class="col-md-2 col-sm-6">
		<input type="text" name="entry.869355724" value="" class="ss-q-short" id="entry.869355724" dir="auto" aria-label="Dirección de Correo electrónico   " aria-required="true" required="" title="" placeholder="Email*">
	</div>

	<div class="col-md-2 col-sm-6" aria-label="Pais donde vives">
			<select name="entry.266541688">
			<option selected value="0">País</option>
		   <option value="Argentina" class="ss-q-short">Argentina</option>
		   <option value="Bolivia"class="ss-q-short">Bolivia</option>
		   <option value="Brasil"class="ss-q-short">Brasil</option>
		   <option value="Chile"class="ss-q-short">Chile</option>
		   <option value="Colombia"class="ss-q-short">Colombia</option>
		   <option value="Costa Rica"class="ss-q-short">Costa Rica</option>
			 <option value="Cuba"class="ss-q-short">Cuba</option>
			 <option value="Ecuador"class="ss-q-short">Ecuador</option>
			 <option value="El Salvador"class="ss-q-short">El Salvador</option>
			 <option value="Guayana Francesa"class="ss-q-short">Guayana Francesa</option>
			 <option value="Granada"class="ss-q-short">Granada</option>
			 <option value="Guatemala"class="ss-q-short">Guatemala</option>
			 <option value="Guayana"class="ss-q-short">Guayana</option>
			 <option value="Haití"class="ss-q-short">Haití</option>
			 <option value="Honduras"class="ss-q-short">Honduras</option>
			 <option value="Jamaica"class="ss-q-short">Jamaica</option>
			 <option value="México"class="ss-q-short">México</option>
			 <option value="Nicaragua"class="ss-q-short">Nicaragua</option>
			 <option value="Paraguay"class="ss-q-short">Paraguay</option>
			 <option value="Panamá"class="ss-q-short">Panamá</option>
			 <option value="Perú"class="ss-q-short">Perú</option>
			 <option value="Puerto Rico"class="ss-q-short">Puerto Rico</option>
			 <option value="Rep. Dominicana"class="ss-q-short">República Dominicana</option>
			 <option value="Surinam"class="ss-q-short">Surinam</option>
			 <option value="Uruguay"class="ss-q-short">Uruguay</option>
			 <option value="Venezuela"class="ss-q-short">Venezuela</option>

		</select>
	<!--	<input type="text" name="entry.909546848" value="" class="ss-q-short" id="entry_909546848" dir="auto" aria-label="Pais donde vives" aria-required"true" required="" title="" placeholder="País*">-->
	</div>
	<div class="col-md-2 col-sm-6">
		<input type="submit" name="submit" value="Inscríbete" id="ss-submit" class="jfk-button jfk-button-action ">
	</div>
	<input type="hidden" name="draftResponse" value="[,,-5401898719998166059]">
	<input type="hidden" name="pageHistory" value="0">
	<input type="hidden" name="fbzx" value="-5401898719998166059">
</form>
