<form action="https://docs.google.com/forms/d/e/1FAIpQLScXF6KKWmk45Hdum8lxsjWABYWc7QdSVsmRGmR-MBl05XowHQ/formResponse" method="POST" id="ss-form subscribe-form" class="form" target="_self" onsubmit=""><ol role="list" class="ss-question-list" style="padding-left: 0">
	<div class="col-md-2 col-sm-6">
		<input type="text" name="entry.310439997" value="" class="ss-q-short" id="entry.310439997" dir="auto" aria-label="Nombre   " aria-required="true" placeholder="Nombre*" required="" title="">
	</div>
	<div class="col-md-2 col-sm-6">
		<input type="text" name="entry.1050418743" value="" class="ss-q-short" id="entry.1050418743" dir="auto" aria-label="Apellidos  " aria-required="true" required="" title="" placeholder="Apellidos*">
	</div>
	<div class="col-md-2 col-sm-6">
		<input type="text" name="entry.151731803" value="" class="ss-q-short" id="entry_1488512565" dir="auto" aria-label="Organización   " title="" placeholder="Organización">
	</div>
	<div class="col-md-2 col-sm-6">
		<input type="text" name="entry.869355724" value="" class="ss-q-short" id="entry_1574828680" dir="auto" aria-label="Dirección de Correo electrónico   " aria-required="true" required="" title="" placeholder="Email*">
	</div>

	<div class="col-md-2 col-sm-6" aria-label="Pais donde vives">
		<select name="entry.909546848">
		   <option value="1" class="ss-q-short">Argentina</option>
		   <option value="2"class="ss-q-short">Bolivia</option>
		   <option value="3"class="ss-q-short">Brasil</option>
		   <option value="4"class="ss-q-short">Chile</option>
		   <option value="5"class="ss-q-short">Colombia</option>
		   <option value="6"class="ss-q-short">Costa Rica</option>
			 <option value="7"class="ss-q-short">Cuba</option>
			 <option value="8"class="ss-q-short">Ecuador</option>
			 <option value="9"class="ss-q-short">El Salvador</option>
			 <option value="10"class="ss-q-short">Guayana Francesa</option>
			 <option value="11"class="ss-q-short">Granada</option>
			 <option value="12"class="ss-q-short">Guatemala</option>
			 <option value="13"class="ss-q-short">Guayana</option>
			 <option value="14"class="ss-q-short">Haití</option>
			 <option value="15"class="ss-q-short">Honduras</option>
			 <option value="16"class="ss-q-short">Jamaica</option>
			 <option value="17"class="ss-q-short">México</option>
			 <option value="18"class="ss-q-short">Nicaragua</option>
			 <option value="19"class="ss-q-short">Paraguay</option>
			 <option value="20"class="ss-q-short">Panamá</option>
			 <option value="21"class="ss-q-short">Perú</option>
			 <option value="22"class="ss-q-short">Puerto Rico</option>
			 <option value="23"class="ss-q-short">República Dominicana</option>
			 <option value="24"class="ss-q-short">Surinam</option>
			 <option value="25"class="ss-q-short">Uruguay</option>
			 <option value="26"class="ss-q-short">Venezuela</option>

		</select>
	<!--	<input type="text" name="entry.909546848" value="" class="ss-q-short" id="entry_909546848" dir="auto" aria-label="Pais donde vives" aria-required"true" required="" title="" placeholder="País*">-->
	</div>
	<div class="col-md-2 col-sm-6">
		<input type="submit" name="submit" value="Suscribirse" id="ss-submit" class="jfk-button jfk-button-action ">
	</div>
	<input type="hidden" name="draftResponse" value="[,,-5401898719998166059]">
	<input type="hidden" name="pageHistory" value="0">
	<input type="hidden" name="fbzx" value="-5401898719998166059">
</form>
